<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/main_scripts.js")
    @{
        string controller_name = ViewContext.RequestContext.RouteData.Values["controller"].ToString().ToLower();
        string action_name = ViewContext.RequestContext.RouteData.Values["action"].ToString().ToLower();
        if (controller_name == "info")
        {
            if (action_name != "index")
            {
                @Scripts.Render("~/scripts/main_info_scripts.js")
            }
           
            @Scripts.Render("~/scripts/index_info_scripts.js")
            @Styles.Render("~/Content/InfoStyle.css")
        }
        if (controller_name != "info")
        {
            @Styles.Render("~/Content/css")
        }
    }


</head>
<body>
    <div id="Main_preloader_id" class="Main_preloader"></div>
    @if (controller_name == "info")
    {
       

    @Html.Action("Main_header","Info",new { action_name= action_name })
    }
    @if (controller_name != "info")
    {
        //@Html.Action("Main_header","Home")
        <div>HEADER HOME</div>
        <div class="">@Html.Partial("_LoginPartial")</div>
    }
    
    
        @RenderBody()
@if (controller_name != "info")
{
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
