<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/main_scripts.js")


    
    


    @{
        string controller_name = ViewContext.RequestContext.RouteData.Values["controller"].ToString().ToLower();
        string action_name = ViewContext.RequestContext.RouteData.Values["action"].ToString().ToLower();
        if (controller_name == "info")
        {
            if (action_name != "index")
            {
                @Scripts.Render("~/scripts/main_info_scripts.js")
            }
           
            @Scripts.Render("~/scripts/index_info_scripts.js")
            @Styles.Render("~/Content/InfoStyle.css")
        }
        if (controller_name != "info")
        {
            @Styles.Render("~/Content/css")
        }
    }


</head>
<body>
    <div id="Main_preloader_id" class="Main_preloader"></div>
    @if (controller_name == "info")
    {
       
    @Html.Action("Main_header","Info",new { action_name= action_name })
    }
    @if (controller_name == "socialnetwork")
    {

        @Html.Action("MainHeader", "SocialNetwork", new {  })
        
    }
    @if (controller_name != "info"&& controller_name != "socialnetwork")
    {
        //@Html.Action("Main_header","Home")
        <div>HEADER ??????????</div>
        <div class="">@Html.Partial("_LoginPartial")</div>
    }
    <div class="div_for_replace_ajax" id="div_for_replace_ajax_id" onclick="ShowImageRecordClose()">
        <div id="div_for_replace_ajax_id_2" class="div_for_replace_ajax_2" onclick="event.stopPropagation()"></div>
    </div>

    <div class="main_div_body_all">
        
        <div class="main_div_body_layout">
            @if (controller_name == "socialnetwork")
            {

                <div class="socialnetwork_up_button_left" id="socialnetwork_up_button_left_id" title="Up" onclick="page_up_function()"></div>

            }
            @if (controller_name == "socialnetwork")
            {

                @Html.Action("LeftMenuPersonal", "SocialNetwork", new { })

            }
            <div class="main_div_body">
                @RenderBody()
                @if (controller_name != "info")
            {
                    <hr id="hr_bottom_footer_id"/>
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                }
            </div>
            
        </div>
        </div>
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.min.js")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/util.js")
    @RenderSection("scripts", required: false)
</body>
</html>
