@using server_info_web_desk.Models.Info;

@using server_info_web_desk.Models;
@using server_info_web_desk.Models.SocialNetwork;
@using System.Web.Mvc;
@using System.Web;



@helper ImageLink(Image a)
{
    @*<a class="link_standart_for_div" href="/SocialNetwork/Image/@a.Id">*@
if (a?.Id != null)
{
    <div id="LinkImageForLoad_id_@a.Id" class="div_image_standart div_load_open_img" onclick="ShowImageRecordAJAX(@a.Id)">
        @*<a class="link_standart_for_div" href="/SocialNetwork/Image/@(a.Id)">*@
        @Healpers.Image(a, true)
        @*</a>*@
    </div>
}
if (a?.Id == null)
{
        @Healpers.Image(a, true)
    }

}



        @helper Image(Image a, bool show_empty_img)
        {
if (a?.Data != null)
{
        //TODO сейчас  не полностью картинки влезают
        <div class="div_image_standart" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(a.Data)) no-repeat;background-size: cover;">
        </div>
}
if (show_empty_img)
{


    if (a?.Data == null)
    {
            <img src="~/Content/images/camera_200.png" />
    }
}
}



        @helper UserShort(ApplicationUserShort a,int size)
        {
        <div class="small_block_short_size_@size" title="@a.Name @a.Surname">@**@
            <a class="link_standart_for_div" href="/SocialNetwork/PersonalRecord/@a.PageId">
                <div class="small_block_img_short_size_@size">
                    <div class="block_circle">
                        @Healpers.Image(a?.Image, true)

                    </div>
                    </div>
                    <div>@(a.Name )</div>@*+ " " + a.Surname*@
</a>
        </div>
}



        @helper GroupShort(GroupShort a, int size)
        {
        <div class="div_inline_block small_block_short_size_@size" title="@a.Name">
            <a class="link_standart_for_div" href="/SocialNetwork/GroupRecord/@a.Id">
                <div class="small_block_img_short_size_@size">
                    <div class="block_circle">
                        @Healpers.Image(a?.Image, true)

                    </div>
                </div>
                    
</a>
        </div>
        <div class="div_inline_block">
            <a class="link_standart_for_div" href="/SocialNetwork/GroupRecord/@a.Id">@a.Name</a>
            @if (a.Status != null)
            {
                <div>@a.Status</div>}
        </div>
}


        @helper Album(AlbumShort a)
        {
    <div class="div_padding_top_10_px">
        <div class="one_album_short_block">
            @*<a class="link_standart_for_div" href="/SocialNetwork/Album/@a.Id">*@

                @Healpers.Image(a?.Image, true)


                <div class="one_album_short_name">
                    <p>@a.Name</p>
                </div>

            @*</a>*@

        </div>
    </div>
}

        @helper ActionRecord(Record a, string user_id)
        {
if (a == null)
{
        <div>
            <h1>НЕДОСТУПНО</h1>
        </div>
}
if (a != null)
{


        <div class="div_padding_top_10_px">
            <div class="Record_likes_block div_inline_block">
                @if (user_id != null)
                {
                    <div id="Record_like_block_img_id_@a.Id" class="div_inline_block Record_like_block_img" onclick="LikeRecordClick(@a.Id)">
                        @{
                            var check_user = a.UsersLikes.FirstOrDefault(x1 => x1.Id == user_id);
                        }
                        @if (check_user == null)
                        {
                            <div class="Record_like_block_img_not_active"></div>
                        }
                        @if (check_user != null)
                        {
                            <div class="Record_like_block_img_active"></div>
                        }

                    </div>
                            }
@if (user_id == null)
{
    <div id="Record_like_block_img_id_@a.Id" class="div_inline_block Record_like_block_img">
        
            <div class="Record_like_block_img_not_active"></div>
        
    </div>
            }

                <div id="Record_like_block_count_id_@a.Id" class="div_inline_block">@a.UsersLikes.Count</div>
            </div>
            <div class="Record_comment_block div_inline_block">
                <div class="div_inline_block Record_comment_block_img"></div>
                <div class="div_inline_block">@a.Comments.Count</div>
            </div>
@if (user_id != null)
{
            <div class="Record_ripost_block div_inline_block">
                <div class="div_inline_block Record_ripost_block_img"></div>
                <div class="div_inline_block">@a.RecordRiposters.Count</div>
            </div>
}
@if (user_id == null)
{
    <div class="Record_ripost_block div_inline_block">
        <div class="div_inline_block Record_ripost_block_img"></div>
        <div class="div_inline_block">@a.RecordRiposters.Count</div>
    </div>
}
        </div>
                            }
}

        @helper ImageRecord(Record a, string user_id)
        {
        <div class="ImageRecord_all_block">
            <div class="div_inline_block ImageRecord_left_block">
                @Healpers.Image(a.Image, true)
            </div>
            <div class="div_inline_block ImageRecord_right_block div_padding_top_10_px div_padding_left_10_px">
                @if (a.Id == 0)
                {
                    @Healpers.Author(a?.Image.User, null, a.Image.Birthday)
                    @Healpers.ActionRecord(null, null)
                }

@if (a.Id != 0)
{
    @Healpers.Author(a?.User, a?.Group, a.Image.Birthday)
    @Healpers.ActionRecord(a, user_id)
}
               
                <hr />
                <div id="div_for_comments_record_@a.Id"></div>
            </div>
        </div>

}

@*@helper ImageForRecord(Image a, string user_id)
        {
    <div>
        
        
    </div>

}*@


        @helper RecordView(Record a,string  user_id,bool action=true)
        {
        <div class="div_padding_top_10_px">
            <div class="div_padding_side_10_px div_color_white">
                
                <div class="RecordView_mem div_padding_top_10_px">
                    
                    @if (a.Image == null)
                    {
                        //запись мем
                        <div>
                            @Healpers.Author(a?.Creator_NM, a?.Group, a.Meme.Birthday)
                            @*див скрытой кнопки которая будет появляться типо пожаловаться не показывать и тд*@
                            @if (a.Description != null)
                            {
                                <p>@a.Description</p>
                            }
                            <div></div>
                            @if (a.RecordRiposteId != null)
                            {
                                @Healpers.RecordView(a.RecordRiposte, user_id,false)
                            }
@if (a.RecordRiposteId == null)
{
    @Healpers.Meme(a?.Meme)
}


                            @*див для отрисовки комментов по клику*@
                            <div>

                            </div>
                        </div>

                    }
                    @if (a.Image != null)
                    {
                        //запись картинка
                        @Healpers.Author(a?.User, a?.Group, a.Image.Birthday)
                        <div>
                            @if (a.Description != null)
                            {
                                <p>@a.Description</p>
                            }
                        </div>
                        <div class="record_image_one_image">
                            @Healpers.ImageLink(a?.Image)
                        </div>
                    }

                    
                    <hr />
                    @*отрисовка кнопок для записи*@
@if (action)
{
                    @Healpers.ActionRecord(a, user_id)
}
                    <div id="div_for_comments_record_@a.Id"></div>
                </div>
                </div>
        </div>

}



@helper Author(ApplicationUser user,Group group,DateTime date)
        {
    <div>
        <div class="div_inline_block div_img_creator_meme block_circle">

            @if (group == null)
            {
                <a href="/SocialNetwork/PersonalRecord/@(user.Id)" class="link_standart_for_div">
                    @Healpers.Image(user.Albums?.ElementAt(0)?.Images.LastOrDefault()?.Image, true)
                </a>
            }
            @if (group != null)
            {
                <a href="/SocialNetwork/GroupRecord/@(group.Id)" class="link_standart_for_div">
                    @Healpers.Image(group.Albums?.ElementAt(0)?.Images.LastOrDefault()?.Image, true)
                </a>
            }

        </div>
        <div class="div_inline_block div_meme_name_date">
            @if (group == null)
            {
                <a href="/SocialNetwork/PersonalRecord/@(user.Id)">
                    @(user.Name.ToString())

                </a>

            }
            @if (group != null)
            {
                <a href="/SocialNetwork/GroupRecord/@(group.Id)">
                    @(group.Name.ToString())

                </a>
            }
            <a href="/">
                <p>
                    @*TODO открывать ajax окно большое с отображением этого мема*@
                    @(date.ToString())

                </p>
            </a>
        </div>
    </div>

}


@*@helper Image(ApplicationUser user, Group group, DateTime date)
{


}*@



        @helper Meme(Meme a)
        {
        <div class="">
           
            <div>
                @if (a?.Description != null)
                {
                    <p>@a.Description</p>
                }
                

                    <div>
                        @foreach (var i in a.Images)
                        {
                            <div class="meme_one_image">
                                @Healpers.ImageLink(i)
                            </div>
                        }

                    </div>

               
            </div>
        </div>

}


@helper Message(Message a)
        {
    @*<div id="OneMessageAllblock_div_id_ должно быть именно так без доп пробелов и тдтд, этот кусок НЕ МЕНЯТЬ*@
    <div id="OneMessageAllblock_div_id_@a.Id">
        <div class="div_inline_block small_img_circle_size_1 block_circle">
            @*<div class="block_circle">*@
                <a class="link_standart_for_div" href="/SocialNetwork/PersonalRecord/@a.Creator.Id">
                    @Healpers.Image(a.Creator.Albums?.ElementAt(0)?.Images.LastOrDefault()?.Image, true)
                </a>
                    @*</div>*@
        </div>
        <div class="div_inline_block">
            <a class="link_standart_for_div" href="/SocialNetwork/PersonalRecord/@a.Creator.Id">
                @a.Creator.Name @a.Creator.Surname @a.Birthday
            </a>
            <div>@a.Text</div>
</div>
        <div>
            @foreach(var i in a.Images) {
                @Healpers.ImageLink(i)
            }
        </div>
        @if (a?.Meme != null)
        {
            <div>
                @Healpers.Author(a.Meme?.Record?.User, a.Meme?.Record?.Group, a.Meme.Birthday)

                @Healpers.Meme(a.Meme)


            </div>
        }
       
    </div>

}





@helper UserListItem(ApplicationUserShort a)
        {
    <div>
        <div>
            <div class="div_inline_block small_block_img_short_size_1" title="@a.Name @a.Surname">

                <a class="link_standart_for_div" href="/SocialNetwork/PersonalRecord/@a.PageId">

                    <div class="block_circle">
                        @Healpers.Image(a?.Image, true)

                    </div>

                </a>
            </div>
            <div class="div_inline_block">
                <a class="link_standart_for_div" href="/SocialNetwork/PersonalRecord/@a.PageId">
                    @(a.Name + " " + a.Surname)
                </a>
            </div>
        </div>
        <div>
            <a class="link_standart_for_div" href="/SocialNetwork/Dialog/@a.PageId">
                Диалог
            </a>
            @*@Html.ActionLink("Диалог", "Dialog", "SocialNetwork", new { user_id = a.PageId }, new { })*@

        </div>
        <div>


        </div>

    </div>

}

@*ChatShort*@
@helper Chat(ChatShort a)
        {
    @*<div id="OneChatAllblock_div_id_ должно быть именно так без доп пробелов и тдтд, этот кусок НЕ МЕНЯТЬ*@
    <div id="OneChatAllblock_div_id_@a.Id">
        <a class="link_standart_for_div" href="/SocialNetwork/Dialog/@a.Id">
            <div class="div_padding_left_10_px div_padding_top_10_px oneDialogShortInside">
                <div class="div_inline_block small_img_circle_size_1 block_circle">
                    @*<div class="block_circle">*@
                        @Healpers.Image(a.Image, true)
                    @*</div>*@
                </div>
                <div class="div_inline_block">
                    <div>@a.Name</div>
                    @if (a.User != null)
                    {
                        <div>@a.LastMessageDate</div>
                        <div>
                            <div class="small_img_circle_size_0 block_circle div_inline_block">
                                @Healpers.Image(a.User.Image, true)
                            </div>
                            <div class="div_inline_block">
                                @a.Text
                            </div>
                        </div>
                    }
                    @if (a.User == null)
                    {
                        <div>Сообщений на данный момент нет</div>
                    }

                </div>
            </div>
        </a>
        <hr />
    </div>

}

}
