@model server_info_web_desk.Models.ViewModel.ListAlbumsShortView

@{
    ViewBag.Title = "Albums";
}

<div>
    @foreach(var i in Model.AlbumList)
    {
        <div class="div_padding_left_10_px div_inline_block Albums_one_album_block_img" id="Album_one_block_id_@i.Id" onclick="Album_one_block_click_al(this)">
            @Healpers.Album(i)
        </div>
       

    }
    <div class="div_padding_left_10_px div_padding_top_10_px div_inline_block Albums_one_album_block_img"  onclick="">
       <div class="Albums_add_new_block one_album_short_block">
           <div class="Albums_add_new_block_inside">
@if (Model.PageUserId != null)
{
    if (((int)ViewBag.access) == 0)
    {
        <h3>Добавить альбом</h3>
        using (Html.BeginForm("AddAlbumPerson", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.TextArea("name")
            @*<input type="file" name="uploadImage" multiple="multiple" accept="image/*" />*@
            <input type="submit" value="Добавить" />
        }
    }
}

@if (Model.PageUserId == null)
{
    if (((int)ViewBag.access) == 0)
    {
        <h3>Добавить альбом</h3>
        using (Html.BeginForm("AddAlbumGroup", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("group_id", Model.PageGroupId)
            @Html.TextArea("name")
            @*<input type="file" name="uploadImage" multiple="multiple" accept="image/*" />*@
            <input type="submit" value="Добавить" />
        }

    }
}


           </div>

       </div>
    </div>
   <hr />
    <div id="Albums_block_add_img_all_id" style="display:none;">


        @if (Model.PageUserId != null)
        {

            if (((int)ViewBag.access) < 4)
            {
                <div class="div_inline_block div_padding_left_10_px div_padding_top_10_px">
                    <div class="Albums_add_new_image_block one_album_short_block">
                        <div class="Albums_add_new_image_block_inside">
                            <div class="album_one_image_img">
                                <h3>Загрузить картинку</h3>
                                @using (Html.BeginForm("AddImagePerson", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    @Html.Hidden("album_id", Model.SelectAlbum)
                                    @Html.TextArea("text")
                                    <input type="file" name="uploadImage" multiple="multiple" accept="image/*" />
                                                                    <input type="submit" value="Добавить" />
                                }
                            </div>
                        </div>

                    </div>
                </div>
            }
        }
        @if (Model.PageUserId == null)
        {

            if (((int)ViewBag.access) < 4)
            {
                <div class="div_inline_block div_padding_left_10_px div_padding_top_10_px">
                    <div class="Albums_add_new_image_block div_padding_left_10_px one_album_short_block">
                        <div class="Albums_add_new_image_block_inside">
                            <div class="album_one_image_img">
                                <h3>Загрузить картинку</h3>
                                @using (Html.BeginForm("AddImageGroup", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {

                                    @Html.Hidden("album_id", Model.SelectAlbum)
                                    @Html.Hidden("id_group", Model.PageGroupId)
                                    @Html.TextArea("text")
                                    <input type="file" name="uploadImage" multiple="multiple" accept="image/*" />
                                                                    <input type="submit" value="Добавить" />
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        }



    </div>



                                    <div id="Albums_block_for_img">

                                        @if (Model.SelectAlbum != null)
                                        {
                                            @Html.Action("LoadImagesAlbum", "SocialNetwork", new { id = Model.SelectAlbum, start = 0, count = 10 })
                                        }
                                    </div>


                                    <div>
                                        <button onclick="load_more_img_album()">Загрузить больше</button>
                                    </div>
                                </div>


              @section scripts{
    @Styles.Render("~/Content/Albums.css")


            }
