@model server_info_web_desk.Models.SocialNetwork.Chat

@{
    ViewBag.Title = "Dialog";
}

<div>
    <input type="hidden" id="dialog_id_input_id" value="@Model.Id" />
    <div class="div_inline_block div_content_main_size_2" id="div_content_main_size_2_id">
        <div class="div_padding_left_10_px div_padding_top_10_px">
            <button onclick="load_more_records()">загрузить</button>
            <div id="Dialog_div_message_id">
                
                @Html.Action("ListMessagesUser", "SocialNetwork",new {id=Model.Id, start=0,count=10 })
            </div>
            <div class="div_padding_top_10_px">
                @*@using (Html.BeginForm("AddMemePerson", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
                @*@using (Ajax.BeginForm("SendNewMessageForm", "SocialNetwork", new AjaxOptions {
                    LoadingElementId = "Main_preloader_id", LoadingElementDuration = 200,OnComplete= "OnComplete_SendMessage" }))
                {*@
                    @Html.Hidden("dialog", Model.Id)
                    @Html.TextArea("text",new {@class= "class_for_focus_show" })
                <div class="class_for_focus_show_s">
                    @*<input type="file" name="uploadImage" multiple="multiple" accept="image/*" />*@
                    <button onclick="SendMessage()">Отправить</button>
                    @*<input type="submit" value="Отправить" />

            }*@
                </div>
            </div>
        </div>
    </div>
    <div class="div_inline_block div_content_main_size_1" id="div_content_main_size_1_id"></div>
</div>



@section scripts{
    @Styles.Render("~/Content/Messages.css")


}