@model server_info_web_desk.Models.ViewModel.GroupRecordView
@{
    ViewBag.Title = "GroupRecord";
}

<div>

    <div class="GroupRecord_left div_content_main_size_2 div_inline_block">
        <div class="div_color_white">
            <h1>@Model.Name</h1>
            <p>@Model.Status</p>
            <hr />
        </div>

        <div class="div_color_white">
            <div class="div_padding_top_10_px">
                @foreach (var i in Model.Image)
            {
                    <div class="div_padding_left_10_px one_image_small_block">
                        @Healpers.ImageLink(i)
                    </div>


                }
            </div>
        </div>


        <div class="div_color_white">

            <p>Стена</p>
            @if (Model.CanAddMeme == true)
            {
                <div>
                    @*@using (Ajax.BeginForm("AddMemeGroup", "SocialNetwork", new AjaxOptions
                    {
                        UpdateTargetId = "PersonalRecord_wall_meme_block",
                        LoadingElementId = "Main_preloader_id",
                        LoadingElementDuration = 200,
                        InsertionMode = InsertionMode.InsertBefore,
                        OnComplete = "OnComplete"
                    }))*@
                    @using (Html.BeginForm("AddMemeGroup", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.Hidden("id_group", Model.IdGroup)
                        @Html.TextArea("text")
                        <input type="file" name="uploadImage" multiple />
                            <input type="submit" value="Добавить" />
                    }
                </div>
            }
            <div id="PersonalRecord_wall_meme_block">
                @Html.Action("MemeRecordListPartial", "SocialNetwork", new { id = Model.IdGroup, type = 2, start = 0, count = 10 })
            </div>

        </div>



    </div>
    <div class="GroupRecord_right div_content_main_size_1 div_inline_block">

        <div class="div_color_white">
            <div class="GroupRecord_main_img_div">
                <div class="PersonalRecord_main_img_d">

                    @Healpers.ImageLink(Model?.MainImage)
                </div>
            </div>

            @if (Model.Admin)
            {
                @Html.ActionLink("Редактировать страницу", "EditGroupRecord", "SocialNetwork", new { }, new { })


                using (Html.BeginForm("AddImageGroup", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("id_group", Model.IdGroup)
                    @Html.Hidden("album_id", Model.IdMainAlbum)
                    @Html.TextArea("text")
                    <input type="file" name="uploadImage" multiple="multiple" accept="image/*" />
                        <input type="submit" value="Добавить" />
                }
            }





@if (Model.IdUser != null)
{
            <div id="GroupRecord_block_follow">
                @Html.Action("FollowGroupPartial", "SocialNetwork", new { IdGroup=Model.IdGroup, CanFollow=Model.CanFollow })
            </div>
}
        </div>
        <div class="div_padding_top_10_px">
            <div class="div_color_white">
                @Html.ActionLink("Подписчики", "GroupUsers", "SocialNetwork", new { id = Model.IdGroup })
                <div>
                    @foreach (var i in Model.Users)
                    {

                        @Healpers.UserShort(i, 1)

                    }

                </div>

            </div>
        </div>
        @*блок с альбомами*@
        <div class="div_padding_top_10_px">
            <div class="div_padding_left_10_px div_color_white">
                @Html.ActionLink("Альбомы", "AlbumsGroup", "SocialNetwork", new { id = Model.IdGroup }, new { })
                <div>
                    @foreach (var i in Model.Albums)
                    {
                        <a href="@Url.Action("AlbumsGroup","SocialNetwork",new {id=Model.IdGroup,select_id=i.Id })">
                            @Healpers.Album(i)
                        </a>
                    }

                </div>

            </div>
        </div>


        <div class="div_padding_top_10_px">
            <div class="div_color_white">
                @Html.ActionLink("Администраторы", "GroupAdmins", "SocialNetwork", new { id = Model.IdGroup })
                <div>
                    @foreach (var i in Model.Admins)
                    {

                        @Healpers.UserShort(i, 1)

                    }

                </div>

            </div>
        </div>

        </div>


    
</div>

            
