
@if (ViewBag.id != null)
{

    <div class="LeftMenuPersonalMain" >
        @*<div class="LeftMenuPersonal_one_line">
            
        </div>*@
        <ul class="LeftMenuPersonalMain_main_ul">
            <li class="LeftMenuPersonal_one_line">
                <a class="link_standart_for_div" href="@Url.Action("PersonalRecord","SocialNetwork")">
                    <div class="LeftMenuPersonal_one_line_div">
                        <div class="div_inline_block LeftMenuPersonal_my_page"></div>
                        <span>Моя страница</span>
                         
                    </div>
                </a>
            </li>
            <li class="LeftMenuPersonal_one_line">
                <a class="link_standart_for_div" href="@Url.Action("Messages","SocialNetwork")">
                    <div class="LeftMenuPersonal_one_line_div">
                        <div class="div_inline_block LeftMenuPersonal_messages"></div>
                        <span>Messages</span>

                    </div>
                </a>
            </li>
            <li class="LeftMenuPersonal_one_line">
                <a class="link_standart_for_div" href="@Url.Action("Friends","SocialNetwork")">
                    <div class="LeftMenuPersonal_one_line_div">
                        <div class="div_inline_block LeftMenuPersonal_friends"></div>
                        <span>Friends</span>

                    </div>

                </a>
            </li>
            <li class="LeftMenuPersonal_one_line">
                <a class="link_standart_for_div" href="@Url.Action("Groups","SocialNetwork")">
                    <div class="LeftMenuPersonal_one_line_div">
                        <div class="div_inline_block LeftMenuPersonal_groups"></div>
                        <span>Groups</span>
                    </div>

                </a>
            </li>
        </ul>
        
        @*<p>@Html.ActionLink("Моя страница", "PersonalRecord", "SocialNetwork")</p>
        <p>@Html.ActionLink("Messages", "Messages", "SocialNetwork")</p>
        <p>@Html.ActionLink("Friends", "Friends", "SocialNetwork")</p>
        <p>@Html.ActionLink("Groups", "Groups", "SocialNetwork")</p>*@
        
       
        
        
        
        
    </div>



}
