@model server_info_web_desk.Models.ViewModel.PersonalRecordView

@{
    ViewBag.Title = "PersonalRecord";
}



<div>
    <div class="PersonalRecord_left div_content_main_size_1 div_inline_block" id="div_content_main_size_1_id">
        <div class="div_color_white">
            <div class="PersonalRecord_main_img_div">
                
                    @Healpers.ImageLink(Model?.MainImage)
                  <input type="hidden" id="page_id_input_id" value="@Model.IdPage"/>
                <input type="hidden" id="page_type_meme_id" value="1" />
            </div>
            <div class="div_padding_left_10_px">
                @if (Model.IdPage == Model.IdUser)
                {
                    @Html.ActionLink("Редактировать страницу", "EditPersonalRecord", "SocialNetwork", new { }, new { })


                    using (Html.BeginForm("AddImagePerson", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @*@Html.Hidden("id_user", Model.IdPage)*@
                        @Html.Hidden("album_id", Model.IdMainAlbum)
                        @Html.TextArea("text")
                        <input type="file" name="uploadImage" multiple="multiple" accept="image/*" />
                            <input type="submit" value="Добавить" />
                    }
                }
                
                <div id="PersonalRecord_block_add_friend">
                    @if (Model.IdUser != null && Model.IdUser != Model.IdPage)
                    {
                        @Html.Action("FollowUserPartial", "SocialNetwork", new { Iduser = Model.IdPage, CanAddFriend = Model.CanAddFriend })
                    }
                </div>
               @if (Model.IdUser != null)
               {
                   @Html.ActionLink("Диалог", "Dialog", "SocialNetwork",new { user_id=Model.IdPage },new { })
               }
                
            </div>
        </div>

        @*блок с друзьями*@
        <div class="div_padding_top_10_px">
            <div class="div_padding_left_10_px div_color_white">
                @Html.ActionLink("Друзья", "Friends", "SocialNetwork", new { id = Model.IdPage }, new { })
                <div>
                    @foreach (var i in Model.Friends)
                    {
                        
                            @Healpers.UserShort(i,1)
                        
                    }

                        </div>

            </div>
        </div>
        @*блок с группами*@
        <div class="div_padding_top_10_px">
            <div class="div_padding_left_10_px div_color_white">
               @Html.ActionLink("Группы ", "Groups", "SocialNetwork", new { id = Model.IdPage },new { })
                @Model.GroupCount
                <div>
    @foreach (var i in Model.Group)
    {
        <div>
            @Healpers.GroupShort(i, 1)
        </div>
    }

                </div>

            </div>
        </div>

            @*блок с альбомами*@
        <div class="div_padding_top_10_px">
            <div class="div_padding_left_10_px div_color_white">
                @Html.ActionLink("Альбомы", "AlbumsPerson", "SocialNetwork", new { id = Model.IdPage }, new { })
                <div>
                    @foreach (var i in Model.Albums)
                    {
                        <a href="@Url.Action("AlbumsPerson","SocialNetwork",new {id=Model.IdPage,select_id=i.Id })">
                            @Healpers.Album(i)
                        </a>
                    }

                </div>

            </div>
        </div>
        </div>
    <div class="PersonalRecord_right div_content_main_size_2 div_inline_block" id="div_content_main_size_2_id">
        <div class="div_color_white">
            <h2>
                @Model.Name @Model.Surname
            </h2>
            <div>
                @Model.Status
            </div>
            <hr />

            @*блок с информацией*@
            <div>
                @Model.Town
               
                @*доп инфа которая будет по клику открываться*@
                <div style="display:none;" id="PersonalRecord_div_more_imfo">
                    @Model.Street
                    @Html.DisplayFor(x1 => x1.Birthday)
                </div>
                <div class="PersonalRecord_button_more_imfo" id="PersonalRecord_button_more_imfo" onclick="PersonalRecord_show_more_imfo()">
                    
                        Показать полную информацию
                  
                </div>
                
            </div>
        </div>
        <div class="div_padding_top_10_px">
            <div class="div_color_white">
                <div class="div_padding_top_10_px">
                    <div>
                        @Html.ActionLink("Фотографии", "", "SocialNetwork", new { }, new { })
                    </div>
                    @foreach (var i in Model.Image)
            {
                        <div class="div_padding_left_10_px one_image_small_block div_inline_block">
                            @Healpers.ImageLink(i)
                        </div>
                    }
                </div>
                    </div>
        </div>


        <div class="div_padding_top_10_px">
            <div class="div_padding_left_10_px div_color_white">
                <p>Стена</p>
                @if (Model.CanAddMeme == true)
                {

                    <div>
                        @using (Html.BeginForm("AddMemePerson", "SocialNetwork", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.Hidden("id_user", Model.IdPage)
                            @Html.TextArea("text")
                            <input type="file" name="uploadImage" multiple="multiple" accept="image/*" />
                            <input type="submit" value="Добавить" />
                        }
                        @*@using (Ajax.BeginForm("AddMemePerson", "SocialNetwork", new { enctype = "multipart/form-data" }, new AjaxOptions {
        UpdateTargetId = "Wall_meme_block_update_id",
        LoadingElementId="Main_preloader_id",
        LoadingElementDuration=200,
        InsertionMode= InsertionMode.InsertBefore,
        OnComplete = "OnComplete"
    }))
    {
        @Html.Hidden( "id_user", Model.IdPage)
        @Html.TextArea("text")
        <input type="file" name="uploadImage[0]" multiple="multiple" accept="image/*" />
        <input type="submit" value="Добавить" />
    }*@
                    </div>
                }
            </div>
                <div class="div_padding_top_10_px" id="Wall_meme_block_update_id">
                    @*первоначальная загрузка обязательно 10, тк в js подвязано*@
                    @Html.Action("MemeRecordListPartial", "SocialNetwork",new { id=Model.IdPage, type=1, start=0, count=10 })
                   
                </div>
            <div>
                @*@using (Ajax.BeginForm("MemeRecordListPartial", "SocialNetwork", new AjaxOptions
        {
            UpdateTargetId = "Wall_meme_block_update_id",
            LoadingElementId = "Main_preloader_id",
            LoadingElementDuration = 200,
            InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "OnSuccessLoadWallRecords"

    }))
    {
        <input type="hidden" name="id" value="@Model.IdPage"/>
        <input type="hidden" name="type" value="1" />
        <input type="hidden" name="start" value="11" />
        <input type="hidden" name="count" value="10" />
        <input type="submit" value="загрузить" />
    }*@
                <button onclick="load_more_records()">загрузить</button>

            </div>
           
        </div>

        </div>


</div>


@section scripts{
    
    
    
    }